<div class="container">
  <%= link_to 'Back', meeting_path, class: "" %>
  
  <div class="wrapper" id="video-chat" data-id="<%= @meeting.id %>">
    <div class="mb-3">
      <%= button_tag 'Join Meeting', id: 'join-meeting', name: "join-meeting-#{@meeting.id}", class:'link link-primary mr-2' %>
      <%= button_tag 'Leave Meeting', id: 'leave-meeting', name: "leave-meeting-#{@meeting.id}", class:'link link-secondary d-none' %>
    </div>
    <div class="row" id="remote-video-container">
      <div class="col-6 col-md-3">
        <video id="local-video" class="w-100" autoplay></video>
      </div>
    </div>
  </div>
</div>
