<div class=container>
  <div class="wait-message">
    <h3 class="mt-5">
      The option to begin your meeting with Eunice
      will appear 5 minutes before the meeting is due to start.
    </h3>
    <a class="btn btn-flat mt-5" href="#">Enter the Wu Tang</a>
  </div>
</div>