<div class=container>
  <div>
    <h2>
      The option to begin your meeting with Eunice
      will appear 5 minutes before the meeting is due to start.
    </h2>
    <a class="btn btn-gradient" href="#">Enter the Wu Tang</a>
  </div>
</div>