<div class=container>
  <div class="w-75 ">
    <h3>
      The option to begin your meeting with Eunice
      will appear 5 minutes before the meeting is due to start.
    </h3>
    <a class="btn btn-flat" href="#">Enter the Wu Tang</a>
  </div>
</div>