// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


// Define fonts for body and headers


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
 @font-face {
   font-family: "Lato";
   src: font-url('Lato/Lato-Regular.ttf');
   src: font-url('Lato/Lato-Regular.ttf?#iefix') format('embedded-opentype'),
        font-url('Lato/Lato-Regular.woff') format('woff'),
        font-url('Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
 }

 @font-face {
   font-family: "Lato";
   src: font-url('Lato/Lato-Light.ttf');
   src: font-url('Lato/Lato-Light.ttf?#iefix') format('embedded-opentype'),
        font-url('Lato/Lato-Light.woff') format('woff'),
        font-url('Lato/Lato-Light.ttf') format('truetype');
  font-weight: inherit;
 }

  @font-face {
   font-family: "Lato";
   src: font-url('Lato/Lato-Thin.ttf');
   src: font-url('Lato/Lato-Thin.ttf?#iefix') format('embedded-opentype'),
        font-url('Lato/Lato-Thin.woff') format('woff'),
        font-url('Lato/Lato-Thin.ttf') format('truetype');
  font-weight: lighter;
 }

  @font-face {
   font-family: "Lato";
   src: font-url('Lato/Lato-Bold.ttf');
   src: font-url('Lato/Lato-Bold.ttf?#iefix') format('embedded-opentype'),
        font-url('Lato/Lato-Bold.woff') format('woff'),
        font-url('Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
 }

  @font-face {
   font-family: "Lato";
   src: font-url('Lato/Lato-Black.ttf');
   src: font-url('Lato/Lato-Black.ttf?#iefix') format('embedded-opentype'),
        font-url('Lato/Lato-Black.woff') format('woff'),
        font-url('Lato/Lato-Black.ttf') format('truetype');
  font-weight: bolder;
 }

 $my-font: "Lato" inherit;
 $body-font: $my-font;
 $headers-font: $my-font;
 $base-size: 17px;

