.card-profile {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
  }

.card-progress {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-top: 16px;
}

.header-upcoming-interviews {
  width: 100%;
  background-color: #F0896E;
  height: 70px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-top: 16px;
}

.card-meeting {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-top: 16px;
}

.no-interviews {
  width: 50%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
}

.stars {
  margin-left: 16px;
}

