<div class="container">
  <!-- profile card -->
<div class="profile-card">
  <div class="card-body">
    <h5>Welcome <%= @user.first_name %></h5>
    <p>Your progess:</p>
    <ul>
      <li>You have been interviewed <%= pluralize(@meetings_as_applicant.count, 'time') %></li>
      <li>Your average rating as an applicant: <%= @reviews %></li>
      <li>You have given <%= pluralize(@meetings_as_interviewer.count, 'interview') %> to your peers</li>
    </ul>
  </div>
</div>


<!-- toggle navbar tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
  </ul>

  <div class="tab-content">
    <div id="" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Some content.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Some content in menu 1.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Some content in menu 2.</p>
    </div>
  </div>

</div>

