<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <img class="footer-logo row d-flex align-items-end" src="/assets/logo_ace_white.png" alt="">
      </div>
      <div class="col-6 mt-4">
          <div class="footer-social d-flex justify-content-center">
            <%= link_to "#" do %>
              <i class="fab fa-linkedin-in"></i>
            <% end %>
            <%= link_to "#" do %>
              <i class="fab fa-instagram"></i>
            <% end %>
            <%= link_to "#" do %>
              <i class="fab fa-facebook-f"></i>
            <% end %>
            <%= link_to "#" do %>
              <i class="fab fa-twitter"></i>
            <% end %>
          </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
