.footer{
  background-color: #222;
  color: #f8f8f8;
  height: 240px;
  padding: 16px;
  margin-top: 120px;
  position: relative;
  overflow: hidden;
}

.footer-social{
  margin-top: 60px;

  a {
    color:#f8f8f8;
    margin: 12px;
    font-size: 22px;
  }
}

.footer-logo {
  width: 140px;
  position: absolute;
  margin-top: 68px;
}
