.h1-ace {
  font-size: 36px;
  font-weight: bolder;
  color: #222;
}

.h2-ace {
  font-size: 28px;
  font-weight: lighter;
  color: #222;
}


.h3-ace {
  font-size: 24px;
  font-weight: bolder;
  color: #222;
}

.h4-ace {
  font-size: 22px;
  font-weight: bolder;
  color: #222;
}


.h5-ace {
  font-size: 20px;
  font-weight: bolder;
  color: #222;
}


